{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_ai_chat/embedded_modal

    Template for iconpicker.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "history": {
            "message":"content",
            "sender":"user"
        }
    }
}}
{{! This is not the uniqid helper here, but we inject a uniqueId variable! }}
<div class="block_ai_chat_modal embedded">
    <div class="modal-dialog modal-dialog-embedded" data-region="modal" tabindex="0" data-block_aichat-element="mainelement" data-id="{{uniqueId}}">
        <div class="modal-content modal-content-embedded">
            <div class="modal-header modal-header-embedded d-flex align-items-start" data-region="header">
                <div data-block_ai_chat-element="titleareaplaceholder">
                    {{! Will be replaced by the title component template components/title.mustache anyway. }}
                    {{! However, it is needed to render the modal, because it will complain about a missing title region otherwise. }}
                    <h5 id="{{uniqid}}-modal-title" class="modal-title modal-title-embedded text-truncate" data-region="title"></h5>
                </div>
            </div>
            <div class="modal-body modal-body-embedded" data-region="body">
                <div class="block_ai_chat_modal_body" data-block_ai_chat-component="contentarea">
                    {{! Content components will be loaded from inside ai_chat_main_component. }}
                </div>
            </div>
        </div>
    </div>
</div>
